<!DOCTYPE html>

<html lang="en" >



<head>

  <meta charset="UTF-8">

  <title>Redirecting...</title>

  

      <link rel="stylesheet" href="/stylesheets/sign/sign_redirect.css">



</head>



<body>



    <form action="#" method="post">

        <h2>Sign Up</h2>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>



        <h1>

            Sign up successfully! Redircting to login page after 3 seconds....

        </h1>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>

        <br>





    </form>



    <script src="/javascripts/sign/sign_redirect.js" type="text/javascript"></script>



</body>



</html>

