body{
    background: rgb(207, 224, 217) ;
}
.top_flowbar{
    height: 35px;
    display: inline-block;
}
#select_credit_or_margin_text{
    width: 20%;
    margin-top: 10vh;
    margin-left: 13vw;
    background-color: #7eb4a7;
    color: snow;
    border-radius: 5px 0px 0px 5px;
    border-left-width: 5px;
    border-left:solid;
    border-left-color:snow ;
}

#select_credit_or_margin_text:after {
    content: "";
    /* 四邊透明的 border */
    border: transparent 10px solid;
    /* 將其中一補上色彩 */
    border-top-color: #00cc99;
  }
#select_credit_or_margin_text h4{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30%;
    padding-top: 7px;
}
#select_repay{
    width: 20%;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: #2d8871;
    color: snow;
    border-radius: 5px 0px 0px 5px;
    border-left-width: 5px;
    border-left:solid;
    border-left-color:snow ;
}
#select_repay h4{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25%;
    padding-top: 7px;
}
#repay{
    width: 20%;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: #7eb4a7;
    color: snow;
    border-radius: 5px 0px 0px 5px;
    border-left-width: 5px;
    border-left:solid;
    border-left-color:snow ;
}
#repay h4{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30%;
    padding-top: 7px;
}
.topbar{
    display: flex;
}
#select_credit_or_margin{
    height: 80vh;
    width: 80%;
    margin-left: 9vw;
    margin-top: 30px;
    background-color: rgb(241, 240, 240);
    border-radius: 5px 5px;
    display: column;
}
#credit_or_margin_sheet{
    width: 70%;
    margin-left: 5vw;
    top:250px;
    height:auto ;
    position: absolute;
}
.top_text{    
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 8%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;
    color:gray;
}
#credit_details{
    display: flex;
    justify-content: space-evenly;
}
#credit_type,#detail_borrow_time,#detail_repay_time,#detail_borrow_value{
background-color: rgb(255, 253, 253);
margin-top: 50px;
height: 100px;
width:20%;
}

#credit_type_text,#detail_borrow_time_text,#detail_repay_time_text,#detail_borrow_value_text{
background-color: rgb(228, 240, 228);
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
color:rgb(90, 133, 97);
font-weight: bold;
}
#credit_type_name{
    font-size: large;
    font-weight: bold;
    color:grey;
    margin: 20px 15px;
}
#detail_borrow_value_no{
    font-size: large;
    font-weight: 600;
    color:grey;
    margin: 20px 15px;
}
#detail_borrow_time_date,#detail_repay_time_date{
    font-size: 18px;
    font-weight: 500;
    color:grey;    
    margin: 5px 5px;
    padding-top:15px ;
    padding-left: 5px;
}
#button_items{
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
}
button{
    margin-top:50px;
    font-size: medium;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border: #c9e0db solid 2px;
    border-radius: 5px;
    color: #70a095;
    font-weight: 700;
}
button:hover{
    margin-top:50px;
    font-size: medium;
    padding: 10px;
    background-color: rgb(138, 185, 146);
    border: #a3b9b3 solid 2px;
    border-radius: 5px;
    color: #f0f0f0;
    font-weight: 700;
    cursor: pointer;
}
