@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(231, 231, 231);
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9DBFAF;
  font-size: 16px;
}

.searchTerm:focus{
  color: rgb(99, 175, 104);
  border-color: rgb(156, 185, 179);
}

.searchButton {
  width: 60px;
  height: 50px;
  border: 1px solid rgb(83, 146, 130);
  background: rgb(141, 180, 172);
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 25px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#invest_text{
    width: 60%;
    position: relative;
    display: flex;
    padding:20px;
    padding-left: 15px;
    padding-right: 45px;
    justify-content: space-between;
    top: 120px;
    left: 20%;
    background-color: #adbeb3;
    color:rgb(252, 252, 252);
    font-weight: bold;
    border-radius: 10px 10px 0 0 ;

}
#invest_details{
    width: 60%;
    position: relative;
    top: 120px;
    left: 20%;
    color:rgb(71, 71, 71);
    font-weight: 500;
    font-size: 16px;
    height:500px;
    overflow: auto;
    margin-bottom: 200px;
}
#name_text{
  font-size: 16px;
    width:80px;
}
#price_text{
  font-size: 16px;
    width:100px;
}
#change_text{
  font-size: 16px;
    width:150px;
}
#low_text{
  font-size: 16px;
    width:90px;
}
#high_text{
  font-size: 16px;
    width:92px;
}
#bottom_buttons{
  width: 65%;
  position: relative;
  padding:10px;
  top: 170px;
  left: 17.5%;
  display: flex;
  justify-content: space-evenly;
}
.bottom_page{
  color: snow;
  background-color: rgb(123, 206, 177);
  border-radius: 8px;
  width: 30px;
  height: 30px;
  border: #69966b 0.05px solid;
  font-size: 15px;
  font-weight: bold;
}
select{
  width:150px;
  border: 0.08px rgb(214, 214, 214) solid;
  background-color:rgb(255, 255, 255);
  border-radius: 5px;

}

/* turn it off completely */
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: rgb(88, 170, 88)
}
.invest_items.active{
  background-color: rgb(248, 248, 248);
}