<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>PaymentSuccess</title>
</head>
<body>
    include navigator/navigator.pug
	<h1>PaymentSuccess!</h1>
    <button><a href ="/">回首頁</a></button>
</body>
<html>