<!DOCTYPE html>
<html>
  <head>
    <title>Chainbank-鏈銀</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet", href="/assets/css/main.css">
    <link rel="stylesheet", href="/stylesheets/index.css">
  </head>
  <body class="is-preload">
  include navigator/navigator.pug
      <section id="banner">
        <div class="inner">
          <h1>Chainbank</h1>
            <p>應用區塊鏈技術讓您借貸投資安全有保障<br /></p>
        </div>
      <video autoplay loop muted playsinline src="images/banner.mp4"></video>
      </section>
      <section class="wrapper">
        <div class="inner">
          <header class="special">
          <h2>特色功能</h2>
          </header>
          <div class="highlights">
          <section>
          <div class="content">
          <header>
          <a href="/searchpage" class="icon fa-line-chart"><span class="label">Icon</span></a>
          <h3>投資市場</h3>
          </header>
          <p>連接Binance-幣安虛擬貨幣市場,提供您簡易的市場資訊,讓您輕鬆購買虛擬貨幣</p>
          </div>
          </section>
          <section>
          <div class="content">
            <header>
            <a href="/margin_transaction" class="icon fa-buysellads"><span class="label">Icon</span></a>
              <h3>保證金投資</h3>
            </header>
            <p>我們提供您使用保證金投資,運用最少原價40%的價格投資,還款完剩餘借貸金額即可領取獲利！</p>
            </div>
            </section>
            <section>
            <div class="content">
            <header>
            <a href="/own_portfolio" class="icon fa-floppy-o"><span class="label">Icon</span></a>
            <h3>擔保品投資</h3>
            </header>
              <p>先前已經在本平台持有投資測略商品,可使用此策略做為擔保品,再繼續投資穩定獲利!</p>
            </div>
            </section>
            <section>
              <div class="content">
                <header>
                <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                <h3>資金媒合</h3>
                </header>
              <p>媒合資金需求者與資金提供投資者,讓資金需求者和提供者雙方獲利,呈現雙贏局面</p>
            </div>
            </section>
            <section>
            <div class="content">
              <header>
                <a href="/normal_repay" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                <h3>分期還款</h3>
              </header>
              <p>我們提供分期付款服務,提前償還金額無需付違約金,領先業界</p>
              </div>
            </section>
            <section>
            <div class="content">
              <header>
                <a href="https://rinkeby.etherscan.io/" class="icon fa-user-secret"><span class="label">Icon</span></a>
                <h3>資金流安全透明</h3>
                </header>
                <p>您在此平台使用的功能只要包含資金流向皆能在etherscan查詢到,若有移慮皆可馬上查詢</p>
            </div>
          </section>
        </div>
        </div>
            </section>
            <section id="cta" class="wrapper">
            <div class="inner">
            <h2>資金媒合 創造雙贏</h2>
            <p>為您打造資金的橋樑,無需擔憂錢不夠投資</p>
            </div>
            </section>
            <section class="wrapper">
            <div class="inner">
            <header class="special">  
            <h2>使用者返饋</h2>
            <p>精選資金需求者和提供者的使用心得</p>
            </header>
            <div class="testimonials">
            <section>
            <div class="content">
              <blockquote>
              <p>這個平台解決我只有少量資金卻想買虛擬貨幣的需求！很棒！</p>
              </blockquote>
            <div class="author">
            <div class="image">
            <img src="images/pic01.jpg" alt="" />
            </div>
            <p class="credit">- <strong>clemmy</strong> <span>學生 - 資金需求者</span></p>
            </div>
            </div>
            </section>
            <section>
              <div class="content">
            <blockquote>
                <p>金流透明化真的很安心！不用怕受騙上當</p>
            </blockquote>
            <div class="author">
              <div class="image">
              <img src="images/pic03.jpg" alt="" />
            </div>
            <p class="credit">- <strong>John Doe</strong> <span>學生 - 資金需求者</span></p>
            </div>
            </div>
            </section>
            <section>
              <div class="content">
                <blockquote>
                <p>一般借給別人錢是拿不到額外利息的！平台機制讓我不用害怕無法收回資金</p>
                </blockquote>
                <div class="author">
                <div class="image">
                <img src="images/pic02.jpg" alt="" />
                </div>
                <p class="credit">- <strong>Janet Smith</strong> <span>工程師 - 資金提供者</span></p>
                </div>
              </div>
            </section>
            </div>
            </div>
            </section>
      <footer id="footer">
        <div class="inner">
        <div class="content">
        <section>
            <h3>Chainbank - 鏈銀</h3>
            <p>為您的資金找到最好的位置-投資借貸媒合平台</p>
        </section>
      <section>
      <h4>平台機構位置</h4>
          <ul class="alt">
          <li><a href="https://commerce.nccu.edu.tw/">政治大學商學院五樓</a></li>
          <li><a href="#">智能合約實驗室</a></li>
          </ul>
      </section>
      <section>
        <h4>我們的社群平台</h4>
        <ul class="plain">
        <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
        <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
        <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
        <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
        </ul>
      </section>
            </div>
            <div class="copyright">chainbank平台所有 <a href="https://unsplash.co">Taiwan </a><a href="https://coverr.co">NCCU</a>.
            </div>
            </div>
            </footer>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/browser.min.js"></script>
      <script src="/assets/js/breakpoints.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>