body{
    background-color: rgb(193, 212, 195);
}
#deposit_tokens_sheet{
width:45%;
padding-bottom:30px;
margin:80px auto;
background-color: rgb(236, 236, 236);
border-radius: 40px 40px 5px 5px;
border:rgb(230, 230, 230) 0.01px solid;
}
.top{
    display: flex;
    width:100%;
    justify-content: space-between;

}
#balance{
    padding:33px;
    text-align: right;
    font-size: 16px;
}
#TotalAmount{
    margin: 10px 40px 10px 40px;
    padding: 10px 20px 10px 20px;
    width:100px;
    font-size: 18px;
}
#confirm_submit{
    padding: 10px;
    font-size: 18px;
    margin: 30px 40px 30px;
}
.topic{
    padding:30px;
    font-size:22px;
    color:rgb(88, 88, 88);
}
#hidden_tag{
    display:none;
}
#change_type{
    font-size:20px;
    padding: 20px 40px 20px;
    color:grey;
}
#change_type_text{
    font-size:18px;
    padding: 20px 40px 20px;
    color:rgb(88, 88, 88);
    background-color: rgb(241, 241, 241);
    margin-left: 40px ;
    margin-right: 40px ;
}