<html>
<meta charset="utf-8">
<title>Makeup</title>
<style></style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet", href="/stylesheets/destroy/destroyreceipt.css">
</head>
<body>
    include ..navigator/navigator.pug
<body>