<html>
<meta charset="utf-8">
<title>Makeup</title>
<style></style>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet", href="/stylesheets/makeup/makeuppayment.css">
</head>
<body>
    include ../navigator/navigator.pug
    <div class="topbar">
    <div class="top_flowbar" id="select_credit_or_margin_text">
    <h4>(1) 選擇憑證</h4></div>
    <div class="top_flowbar" id="select_makeup">
    <h4>(2) 確認憑證訊息</h4></div>    
    <div class="top_flowbar" id="makeup">
    <h4>(3) 繳納全額</h4></div>
    </div>
    </div>
    <div id="select_credit_or_margin">
    //<div id="credit_or_margin_sheet">
        <div class="top_text"><h5>憑證編碼</h5><h5>借貸時間</h5><h5>到期時間</h5><h5>未繳金額</h5></div>
        <div id="text_sheet"></div>
    //</div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script type="text/javascript" src="/javascripts/repay/repay.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/web3@0.2.5/dist/web3.min.js'></script>
</html>
