<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/margin_transaction/deposit_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2>產生憑證完成</h2>
        <br>
        <br>
        <br>
        <h1>本次獲得憑證額度為:</h1>
        <br>
        <dd class="avail_amount">#{avail_amount}</dd>
        <br>
        <h1>編號為:</h1>
        <br>
        <dd class="credit_id">#{creditID}</dd>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class='go_invest'><a href='/margin_transaction/directly_use_credit'>立即使用憑證</a></button>
    </form>
    <script src="/javascripts/invest/margin_transaction/deposit_redirect.js" type="text/javascript"></script>

</body>

</html>
