<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>End Transaction Failed</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/margin_transaction/end_transaction_fail.css">

</head>

<body>

    <form action="#" method="post">
        <h2>銷毀憑證失敗</h2>
        <br>
        <br>
        <br>
        <h1>您的初始憑證額度為：</h1>
        <br>
        <dd class="avail_amount_init">#{avail_amount＿init}</dd>
        <br>
        <h1>目前擁有憑證額度為：</h1>
        <br>
        <dd class="now_avail_amount">#{now_avail_amount}</dd>
        <br>
        <br>
        <span>#{warn}</span>
        <br>
        <br>
        <br>
    </form>
    <script src="/javascripts/invest/margin_transaction/end_transaction_fail.js" type="text/javascript"></script>

</body>

</html>