<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Use Credit Failed</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/margin_transaction/use_credit_fail.css">

</head>

<body>

    <form action="#" method="post">
        <h2>無法使用憑證</h2>
        <br>
        <br>
        <br>
        <span class="fail_to_use">#{not_enough_warn}</span>
        <br>
        <br>
        <br>
        <span class="now_avail_amount">您目前的可用額度為#{now_avail_amount}</span>
        <br>
        <br>
    </form>
    <script src="/javascripts/invest/margin_transaction/use_credit_fail.js" type="text/javascript"></script>

</body>

</html>