<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/margin_transaction/use_credit_success.css">

</head>

<body>

    <form action="#" method="post">
        <h2>使用保證金憑證成功</h2>
        <br>
        <br>
        <br>
        <h1>
            Key-in 已為您創建資金需求
        <h1>
        <br>
        <br>
        <br>
        <h1>您的資金需求編號為:</h1>
        <br>
        <br>
        <br>
        <dd class="requirement_id">#{rand}</dd>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>
    <script src="/javascripts/invest/margin_transaction/use_credit_success.js" type="text/javascript"></script>

</body>

</html>
