body {
    background: #fff;
    font-family: sans-serif;
    font-size: 10px;
}
.search {
    margin-bottom:15px;
   }
  
  .form-group {
    position:absolute;
    top:  20%;
    left: 15%;
    width:1000px;
   }
span{
    position:absolute;
    top:15%;
    left:15%;
    text-align:center;
    font-size:20px;
}
table{
    table-layout:fixed;
    width: 1560px;
    height:20px;
    position:right;
    border-collapse:collapse;
}
table th{
    background-color: #a4dcec;
    border:3px solid #000 ;
    width:auto;
    height:40px;
    font-size:20px;
    text-align:center;
}

table td{
    border:3px solid #000 ;
    width:auto;
    height:auto;
    text-align: center;
    font-size: 16px;
}
table td input{
    font-size:20px;
    width:80px;
}
    tr:nth-child(even){
        position:left;
        background-color: #f2f2f2;
        width:125px;
    }
    form span{
        font-size:25px;
        position:absolute;
        left:10%;
    }
    form label{
        position: absolute;
        left:35%;
        font-size:20px;
        color:#666666;
    }
    
    form span[class="warn"]{
        font-size:14px;
        position:absolute;
        left:25%;
    }
    form button[class="return_page"]{
        background-color: gray;
        font-size:16px;
        padding:8px 20px;
        border-radius:4px;
        width:100px;
        position:absolute;
        left:40%;
    }
    form button[class="return_page"] a{
        color:white;
    }