body {
    background: #384047;
    font-family: sans-serif;
    font-size: 10px;
}
#deposit_sheet {
    background: #fff;
    padding: 4em 4em 2em;
    width:600px;
    height:800px;
    margin: 0px auto;
    margin-top: 8%;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    text-align: center;
}

#deposit_token h2 {
        margin: 0 auto 50px;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        color: #666666;
        border-bottom: solid 1px #e5e5e5;
    }
    #deposit_token span{
        font-size:18px;
        margin:  0 auto;
        text-align: center;
    }
    #deposit_token label{
        text-align: center;
        font-size:20px;
        color:#666666;
    }
    #deposit_token dd{
        font-size:20px;
        color:#666666;
        text-align: center;
        margin:5px 0 0 10px;
    }
    #deposit_token input{
        display:inline;
        text-align: center;
        width:250px;
        font-size:30px;
        margin:2px 0 0 0;
    }
    #deposit_token input[type="submit"] {
        display:block;
        color:#666;
        text-align: center;
        width:150px;
        font-size:24px;
        margin:0 auto;
    }
    #deposit_token span[class="notice"]{
        font-size:14px;
        position:absolute;
        left:30%;
    }
    #deposit_token button{
        background-color: gray;
        font-size:16px;
        padding:8px 20px;
        border-radius:4px;
        width:100px;
        position:absolute;
        left:38%;
    }
    #deposit_token button a{
        color:white;
    }
    #invest_id_box{
       display: flex;
        width: 300px;
        margin: 0 auto;
    }
    #invest_portfolio_box{
        display: flex;
        width: 300px;
        margin: 0 auto;
    }
    #invest_text{
        font-size: 20px;
        color:rgb(110, 110, 110);
        padding-left: 25%;
        padding-top: 15px;
    }
    #invest_num,#invest_category{
        font-size: 20px;
        color:rgb(110, 110, 110);
        padding-left: 5%;
        padding-top: 15px;        
    }
    #hidden_tag {
        display: none;
        position: relative;
        padding-top: 10px;
    }
    #deposit_sheet{
        margin: 5% auto;
    }
    #confirm_submit{
        display: block;
        margin: 0px auto;
        width:150px;
        font-size:25px;
        color:#666;
    }
    .not_enough_warn{
        display: block;
        margin: 0px auto;  
        text-align: center;      
        width: 100%;
    }
    #need_to_pay{
        padding-top: 10px;
    }