<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/collateral_loan/collateral_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2>Warning!</h2>
        <br>
        <br>
        <br>
        <h1>
        Key-in 您尚未有任何擔保品，是否改由保證金交易?
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button> <a href='/searchpage'>改由保證金交易</a></button>
        <br>
        <br>
        <button> <a href='/'>結束本次交易</a></button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
            Key-in 如果您無任何操作，將在30秒後為你導回首頁
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>

    <script src="/javascripts/invest/collateral_loan/collateral_redirect.js" type="text/javascript"></script>

</body>

</html>
