<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
  
      <link rel="stylesheet" href="/stylesheets/invest/collateral_loan/selected_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            Key-in 這項擔保品已被使用過，請選擇其他擔保品!
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>

    <script src="/javascripts/invest/collateral_loan/credit_redirect.js" type="text/javascript"></script>

</body>

</html>
